.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #ccc;
}

@media (max-width: 1024px) {
  .footer {
    font-size: 1.5vw;
  }
}

@media (max-width: 544px) {
  .footer {
    font-size: 3vw;
  }
}
