.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 300px;
  margin-top: 10px;
  padding-bottom: 92px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__content-title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 97px;
  line-height: 1.5;
  text-align: center;
  font-weight: 800;
}

.header__content-subtitle {
  max-width: 720px;
  margin-bottom: 64px;
  text-align: center;
  font-size: 30px;
  line-height: 1;
}

.header__content-image {
  width: 990px;
  margin: auto;
  filter: grayscale(1);
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 190px;
    padding-bottom: 50px;
  }

  .header__content-title {
    max-width: 220px;
    font-size: 40px;
    line-height: 1;
  }

  .header__content-subtitle {
    max-width: 290px;
    font-size: 16px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__content-title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
  }
}
