.header {
  padding-top: 3vh;
  margin-bottom: 8vh;
  text-align: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.header__icon {
  width: 3vw;
  height: auto;
}

.header__title {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 10vh;
  }

  .header__title {
    font-size: 1.5vw;
  }
}

@media (max-width: 544px) {
  .header {
    margin-bottom: 12vh;
  }

  .header__title {
    font-size: 3vw;
  }
}
