body {
  margin: 0;
}
.page {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  color: #ffffff;
  padding: 0 13%;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 3%;
  }
}

@media (max-width: 544px) {
  .page {
    padding: 0 4%;
  }
}
.content {
}

.lead {
  width: 100%;
  margin: 0;
  text-align: center;
}

.lead__title {
  font-size: 5vw;
  font-weight: 800;
  line-height: 120%;
  display: flex;
  flex-direction: column;
}

.lead__subtitle {
  font-size: 1.5vw;
  margin: 2vh 0 4vh;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__image {
  width: 100%;
  overflow: hidden;
  border-radius: 1%;
  display: block;
  margin: 0 auto;
  filter: grayscale(1);
}

@media (max-width: 1024px) {
  .lead__title {
    font-size: 4vw;
  }

  .lead__subtitle {
    font-size: 1.8vw;
  }
}

@media (max-width: 544px) {
  .lead__title {
    font-size: 7vw;
  }

  .lead__subtitle {
    font-size: 3.5vw;
  }
}
